:root {
  scroll-behavior: smooth;
  --dark: #070a13;
  --light: #f1f5f9;
  /* color-names */
  --sailor-blue: #08415c;
  --crown-black: #243447;
  --coarse-wool: #141d26;
  --decadence: #71677c;
  --kaki: #dda77b;
  --whitish-green: #64a67e;
  --greyish-white: #c7c7c7;
  --pale-green: #e2e2d2;
}
.toggle {
  position: fixed;
  top: 30px;
  left: 2%;
  padding:8px ;
  border-radius:10px;
  border:none;
  display: flex;
  align-items: center;
  justify-content:center;
  text-align:center;
  background-color: #050d18;
  color: var(--greyish-white);
  cursor:pointer;
  opacity:0.6;
  transition: all 0.15s ease;
}
.toggle:hover{
  opacity: 1;
}
.toggle i {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  
}
.sun {
  /* visibility: hidden; */
}
.dark-mode {
  --light: #070a13;
  --dark: #f1f5f9;
}
.multi-wrap {
  height: 50px;
  visibility: visible;
  display: inline-block;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p {
  margin-bottom: 1rem;
}
/* containers */
#header {
  display: flex;
  flex-direction: column;
  background: #373a3a;
  width: 300px;
  height: 100%;
  position: fixed;
  padding: 0 15px;
  top: 0;
  left: 0;
  bottom: 0;
  transition: all 1s ease;
  display: none;
  /* z-index: 10; */
}
.container {
  color: var(--light);
  background-color: var(--dark);
  margin-left: 0;
  width: 98%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh auto auto 1fr;
  place-content: center;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 a.profile-name {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}
.social-links {
  gap: 28px;
  text-align: center;
  margin-top: 1rem;
}
.social-links a {
  margin-right: 10px;
}
#header .social-links a {
  font-size: 18px;
  color: #fff;
  display: inline-block;
  line-height: 1;
  text-align: center;
  height: 36px;
  width: 36px;
  padding: 8px 0;
  background: #212431;
  border-radius: 100%;
  border: none;
}
#header .social-links a:hover {
  background-color: #1098ad;
}
/* nav-bar */
.nav-bar {
  padding: 30px 0 0 0;
  display: flex;
  flex-flow: column wrap;
}
.profile-pic {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
  border-radius: 100%;
  background-color: var(--greyish-white);
}
nav > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: start;
  gap: 1rem;
}
nav li {
  flex-basis: 25%;
  justify-self: center;
  transition: all 0.5;
  text-align: center;
}
ul li:last-child {
  margin-right: none;
}
a:link {
  cursor: pointer;

}
a:hover {
  color: #1098ad;
}
nav a:link,
nav a:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  text-decoration: none;
  padding: 8px 20px;
  transition: all 0.1s;
  border-radius: 15px;
  font-size: 18px;
  margin-right: 10px;
}
.nav-link i {
  margin-right: 10px;
}
nav li:hover a,
nav li:hover a:focus,
a.active {
  color: #fff;
}
.nav-bar li:hover i {
  color: #1098ad;
}
.dropdown-content {
  display: none;
}
#hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../images/background_image.avif");
  background-color: inherit !important;
  background-size: cover;
  background-position: center;
}
h1.header-text {
  text-align: center;
  color: #fff;
  mix-blend-mode: difference;
  padding-top: 8px;
  font-size: 2rem;
  margin-top: 0.5rem;
}
.head-image {
  /* overflow: hidden; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  /* justify-content: center; */
  /* align-self: flex-end; */
  gap: 10px;
  /* align-items: center; */
  flex: 1;
}
.hero-image-wrap {
  display: flex;
  justify-content: center;
  flex: 1;
}
.hero-image {
  border-radius: 10px;
}
.content {
  /* flex-basis: 50%; */
  border-radius: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(25, 52, 70, 0.18);
  padding: 50px 0;
}
.content-header {
  background: linear-gradient(to bottom right, #1ad, #b7cb24b8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 20px;
}
.content > p {
  color: #ccc;
  line-height: 1;
}
.para-text + span {
  display: block;
}
#multiple-text,
.para-text {
  letter-spacing: 1px;
  font-size: 1.5rem;
}
.content:not(.content-header) {
  color: #fff;
}
/* SECTION ABOUT */
.section-title {
  padding-bottom: 10px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: #173b6c;
  position: relative;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background-color: #149ddd;
  bottom: 0;
  left: 0;
}

.about {
  /* background-color: #fff; */
  padding-left: 1.5rem;
}
.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.about-img {
  width: 100%;
  border-radius: 20px;
}
.content-about {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 4rem; */
  margin-bottom: 30px;
}
.about .row ul li {
  list-style-type: none;
}
.about .row ul li:before {
  content: ">";
  display: inline-block;
  margin-right: 5px;
  line-height: 0;
  font-size: 16px;
  color: #1098ad;
}
.about .content-about h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
  line-height: 1;
  margin-bottom: 0.5rem;
}
.about-para {
  font-style: italic;
}
.row ul li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.row ul strong {
  margin-right: 10px;
}
.row ul {
  margin-bottom: 1rem;
}
.back-to-top {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 100;
  width: 40px;
  height: 40px;
  transition: all 0.5s;
  border-radius: 100%;
  background: #149ddd;
  text-decoration: none;
}
.active {
  background-image:linear-gradient( to right,var(--whitish-green), var(--dark));
}

/* SECTON SKILLS */
.skills {
  /* background: #f5f8fd; */
  padding: 0 1.5rem 1rem;
}
.container-skill {
  padding: 0 30px 20px;
}
.skills-content {
  display: flex;
  flex-flow: column wrap;
}
.skills .progress {
  height: 60px;
}
.progress .skill {
  margin-bottom: 6px;
  display: block;
  /* color: #050d18; */
}
.skills .progress-bar-wrap {
  height: 10px;
  /* background: #dce8f8; */
}
.skills .progress-bar {
  height: 10px;
  background-color: #149ddd;
}

/* resume section */
.resume {
  padding: 0 1.5rem;
  /* background-color: #fff; */
}
.resume-title {
  font-size: 26px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}
.resume-item {
  padding: 0 0 20px 20px;
  border-left: 2px solid #1f5297;
  position: relative;
}
.resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  left: -10px;
  top: 0;
  background-color: #fff;
  border: 2px solid #1f5297;
}
.resume-item h4 {
  font-size: 18px;
  font-weight: bold;
  color: #050d18;
  margin-bottom: 10px;
}
#resume .resume-item ul li {
  list-style-type: none;
  position: relative;
}
.resume-item ul li::before {
  content: "-";
  position: absolute;
  font-size: 23px;
  left: -15px;
  color: #1098ad;
  top: -5px;
}
.section-title h4 {
  margin-bottom: 10px;
}
/* CONTACT  */
#contact {
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
#contact form {
  background-color: var(--crown-black);
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  width: 100%;
  border-radius: 30px 30px 0 0;
}
input,
textarea {
  outline: none;
  border: none;
  background-color: var(--crown-black);
  border-bottom: 1px solid var(--kaki);
  caret-color: var(--greyish-white);
  color: var(--greyish-white);
  transition: all 0.1s;
}
input {
  padding: 15px;
}
textarea {
  padding: 15px;
}
form input::placeholder,
textarea::placeholder {
  text-transform: capitalize;
  color: #eee;
  transition: all 0.1s;
}
form :is(input:hover, textarea:hover) {
  background-color: #eee;
  color: black;
  caret-color: #000;
  border-radius: 10px;
}
form input:hover::placeholder,
textarea:hover::placeholder {
  background-color: #eee;
  color: black;
}
button[type="submit"] {
  align-self: center;
  height: 40px;
  width: 100px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding-left: 10px;
  background-color: #1098ad;
  transition: all 0.5s;
}
button[type="submit"]:hover {
  background-color: #fff;
  color: #1098ad;
}
.plane,
.address i {
  color: #1098ad;
  margin-right: 0;
  border-radius: 100%;
  text-align: center;
  background-color: #fff;
  padding: 5px;
  transition: all 0.5s;
}
button[type="submit"]:hover .plane {
  transform: scale(1.1);
  color: #fff;
  background-color: #1098ad;
}

#contact img {
  width: 100%;
  display: none;
}
.address {
  background-color: var(--coarse-wool);
  color: var(--greyish-white);
  display: flex;
  flex-direction: column;
  padding: 20px 0px 0px 20px;
}
.icons {
  display: flex;
  flex-basis: 80%;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  padding-bottom: 10px;
}
.address h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 100;
  margin-bottom: 10px;
}
.icons div {
  display: flex;
  gap: 10px;
  transition: all 0.3s;
  align-items: center;
}
.icons div:hover i {
  transform: scale(1.1);
  color: #fff;
  background-color: #1098ad;
}
.icons div:hover a {
  color: #1098ad;
}
.address a {
  color: var(--greyish-white);
  text-decoration: none;
  font-size: 1rem;
}
/* FOOTER */
footer {
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 30px 10px;
}
#toggle-bar-open,
#toggle-bar-close {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 10;
  font-size: 20px;
  transition: all 0.4s;
  outline: none;
  background-color: #149ddd;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 100%;
}
#toggle-bar-close {
  display: none;
}
.copy {
  background-color: #000000c4;
  padding: 10px 0;
  color: #ddd;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
}
@media screen and (min-width: 1020px) and (max-width: 1300px) {
  section {
    padding: 0 1.2rem;
  }
  body,
  p.multiple-text {
    font-size: 16px;
  }
  .container {
    margin-left: 0;
  }
  #header {
    display: none;
  }
  .head-image {
    flex-direction: row;
    justify-content: space-between;
  }
  .hero-image-wrap,
  .content {
    flex: 1;
    border-radius: 30px;
    gap: 20px;
  }
  .hero-image-wrap {
    height: 70%;
  }
  .content {
    justify-content: center;
    height: 70%;
  }
  h1.header-text {
    font-size: 2.5rem;
    margin-top: 1rem;
  }
  #multiple-text {
    margin-bottom: 0;
  }
  .about-wrapper {
    flex-direction: row;
    gap: 2rem;
  }
  .about-img {
    width: 30%;
  }
  #contact {
    flex-direction: row;
    gap: 5px;
  }
  #contact form {
    border-radius: 35px 0 0 0;
    width: 60%;
  }
  .address {
    border-radius: 0 35px 0 0;
    flex: 1;
  }
  .icons {
    flex-direction: column;
  }
}
@media screen and (min-width: 1301px) {
  section {
    padding: 0 1.2rem;
  }
  p.multiple-text {
    font-size: 2rem;
  }
  .container {
    margin-left: 300px;
  }
  #header {
    display: flex;
  }
  .head-image {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .hero-image-wrap,
  .content {
    flex: 1;
    border-radius: 30px;
    gap: 20px;
  }
  .hero-image-wrap {
    height: 90%;
  }
  .content {
    justify-content: center;
    height: 90%;
    /* align-self: center; */
  }
  h1.header-text {
    font-size: 2.5rem;
    margin-top: 1rem;
  }
  .about-wrapper {
    flex-direction: row;
    gap: 2rem;
  }
  .row {
    flex-direction: row;
    gap: 9rem;
  }
  .about-img {
    width: 30%;
  }
  #contact {
    flex-direction: row;
    gap: 5px;
  }
  #contact form {
    border-radius: 35px 0 0 0;
    width: 60%;
  }
  .address {
    border-radius: 0 35px 0 0;
    width: 25%;
  }
  .icons {
    flex-direction: column;
  }
  #contact img {
    display: inline-block;
    width: 25%;
  }
  .copy {
    display: none;
  }
  #toggle-bar-open,
  #toggle-bar-close {
    display: none !important;
  }
}
}